{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 15, Daniel Oluwasina</title>
    <link rel="stylesheet" href="{% static 'doliststyle.css' %}">
</head>
<body>
    <main class="maincontainer">
        <h1 class="apptitle">To do list by Daniel Oluwasina</h1>

        <form class="dolistform" action= "{% url 'add' %}" method="POST" role = "form">
            {% csrf_token %}
            <section class="formgroup">
                <label for="task">What to do?...</label>
                {{form.text}}
                
                <button class="btnaddlist">ADD TO LIST</button>
            </section>

            <section class="formgroup">
                <button class="btndeleteeach">DELETE COMPLETED</button>
                <button class="btndeleteall">DELETE ALL</button>
            </section>
            

            <section class="formgroup">
                <h3>ADDED TO LIST</h3>
                    <ul class="dolist_list">
                        {% for task in todo_tasks %}
                        {% if task.completed %}
                            <li class="listitem completed">{{task.text}}</li>
                        {% else %}
                            <a href="#" class = "linkitem"><li class="listitem"> {{task.text}} </li></a>
                        {% endif %}
                        {% endfor %}
                    </ul>
            </section>


        </form>
    </main>
</body>
</html>