<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask by Daniel Oluwasina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    
</head>
<body>
    <h1 class="title">Welcome to Flask</h1>
    <h2 class="subtitle">By: Daniel Oluwasina</h2>
    <div class="introimg">
        <img src="../static/flower.jpg" alt="image of a flower">
    </div>
</body>
</html>